#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 50px;
}

h2{
  font-size: 18px;// 更大字體讓作者名稱更突出
  font-weight: bold; // 粗體
  margin: 0 0 5px 0; // 增加間距
}

.userData{
  font-size: 20px; // 日期文字變小
  color: #70ff15; // 灰色字體
  margin: 0; // 移除多餘間距
}

::placeholder{
  font-size: 1rem;
  color: var(--placeholder-text-color);
}

div {
  overflow: visible; /* 確保內容可見 */
  height: auto; /* 確保父容器有足夠高度 */
}

input,
select,
textarea,
button
{
  outline: none;
  font-size: 1rem;
  color: #ffffff;
}

button
{
  background-color: #dc2c2c;
}

hr{
  border: none;
  width: 100%; /* 默認寬度 */
  border-top: 1px solid #ffffff;
  margin: 10px 0;
}

img{
  max-width: 100%;
}

